- @arts = Art.all
.tn3gallery
  - @arts.each do |art|
    %ul
      %li
        %h4= art.title
        .tn3.description= art.desc
        %a{ href: art.image.url }
          = image_tag art.image.thumb.url