#galleria
  =image_tag 'gal1.jpg', data: {description: 'Lorem flgjfdlgdfjlg fdlg jlgj lkgldf jglfdkgj ldfgjl dkgjfdl fg dgj dgj dfjg dlgk dlgk dlkg ldkfg df dfg dlfgh fdgh lgh dlghfdjhg fdkjgh fkghfd kjfdhg kuhdgueir giu giutgy iugtr', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  =image_tag 'gal1.jpg', data: {description: 'Lorem', title: ''}
  :javascript
    Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('#galleria');