.nice-girls
  .photo
    = image_tag 'nice-girls.jpg'
  .text
    %p
      У нас молодая студия и молодые исполнители. Мы умеем внимательно слушать, плодотворно думать, творчески приниматься за дело и старательно его завершать.﻿
    %p
      Благодаря 5-летнему опыту работы с требовательными заказчиками в сфере элитных интерьеров, мы умело используем самые разнообразные и смелые идеи в процессе   детальной проработки эскизов, а также со знанием дела подбираем витражную технику  и материалы для именно Вашего изделия.  ﻿
    %p
      Основная техника исполнения - накладной (пленочный) витраж.  ​
    %p
      Мы работаем не только в традиции, стараясь следовать вековым стандартам в линиях и приемах витража, но и отслеживаем веяния в современном искусстве, адаптируя их под витражные техники.  ﻿
    %p
      Отчасти благодаря этому,  нашим витражам часто присущ своеобразный непохожий почерк, что приятно удивляет в условиях гонки за созданием эксклюзивных интерьеров.  ​
    %p
      Наш главный интерес - красивый результат. Поэтому мы не гонимся за количеством заказов, а стремимся к чистоте линий и качеству исполнения.  ​
    / %p
    /   Мы ценим ваши пожелания и рады будем воплотить их!