#services
  %ul
    %li
      = image_tag 'serv3.jpg', width: 144
      .description-box
        .description
          %h3 Накладной витраж
          Витраж собирается на цельном листе стекла при помощи цветных специализированных пленок Decra Led (Англия) или d-c-fix (Германия) и самоклеящейся свинцовой ленты Decra Led (Англия).
          %br
          ﻿По внешнему виду витраж, выполненный в данной технике, выглядит как классический или «Тиффани», но изготавливается быстрее и дешевле!
    %li
      = image_tag 'serv4.jpg', width: 144
      .description-box
        .description
          %h3 Витраж «Тиффани»
          ﻿Начиная с XIX века, витражи «Тиффани» стали украшать богатые дворянские и купеческие дома, а на рубеже ХIХ и ХХ они появляются и на лестницах доходных домов. На сегодняшний день витражи «Тиффани» являются модным украшением в первую очередь частных домов, где придают интерьеру несравнимую красоту и изящество.
    %li
      = image_tag 'serv1.jpg', width: 144
      .description-box
        .description
          %h3 Пескоструйный витраж
          Особенности данной технологии позволяют делать объемные, многослойные, довольно сложные по графике рисунки, которые могут быть декорировать фьюзингом, бевелсами, стразами и стеклянными каплями.﻿
    %li
      = image_tag 'serv2.jpg', width: 144
      .description-box
        .description
          %h3 Наливной витраж
          ﻿﻿Изготавливается путем нанесения на стекло контуров рисунка из двухкомпонентного полимерного состава, которые в дальнейшем заполняются художником цветными полимерными красками. Витражи устойчивы к влаге, солнечному свету и механическим повреждениям.

  #disclaimer
    %p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

    %p В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.