@import "base"

body
  background-image: url(bg.jpg)
  background-size: cover
  margin-top: 30px

#container
  margin: 0 auto
  width: 980px
  height: 100%

  header
    text-align: center
    font-size: 25px
    margin-bottom: 13px

  nav
    ul
      text-align: center

      li
        display: inline-block
        padding: 0px 72px
        font-size: 14px

        a
          text-transform: uppercase
          color: black
          line-height: 30px
          text-decoration: none

  section#content-box
    margin-top: 13px
    padding: 39px 63px
    width: 981px
    height: 510px
    background: #AB9C80
    box-sizing:border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    border: 15px solid white
    -webkit-box-shadow: 0 0 10px rgba(30, 30, 30, .6)

  #nice-girls-photo
    display: block
    float: left

    img
      border: 1px solid white
  #nice-girls-text
    display: block
    width: 411px
    float: left
    padding-left: 46px

    p
      font: 13px/15px Geneva, Tahoma, sans-serif
      color: white
      margin-bottom: 1em
      letter-spacing: 1px

footer
  ul

    li, li a
      font: 12px/13px Geneva, Tahoma, sans-serif
      color: white

    li
      float: left
      margin: 10px 25px 0 0

      a
        text-decoration: none

    span
      position: relative
      top: -7px
