@import "base"

#services
  padding: 15px
  ul
    li
      float: left
      width: 449px
      height: 183px
      margin: 0 19px 15px 0
      border: 1px solid white
      +single-box-shadow(rgba(black, .7), 0, 0, 10px)

      img
        float: left
        border-right: 1px solid white

      h3
        color: #008B8B
        font-size: 16px
        font-weight: bold
        padding: 8px 0 15px

      .description-box
        float: left
        font-size: 13px
        width: 304px
        background-color: #D1D0B8
        height: 100%

        .description
          margin: 0 10px 0 10px
          color: #427C7C

    li:nth-child(even)
      margin-right: 0

  #disclaimer
    font-family: Georgia, serif
    font-size: 13px
    color: white